# extensões proibidas no projeto
*.mno
*.lock
*.fuse*
*.zip
*.rar
*.tar.*
*.tgz
*.7z*
*.iso
*.exe
*.dll
*.mp3
*nbproject
*buildpath
*project
*settings
.env
.dist
.idea
.vscode
.phpintel
vendor
!resources/thupan/debug/vendor
bower_components
node_modules
app/Store
/public/files
/public/assets
/public/images