
{% set disable_breadcrumb = true %}

{% extends "_templates/pmm/index.twig" %}

{% block content %}

<div class="jumbotron" style="background-color:transparent !important">
    <p class="text-center">
        <img style="margin:0 auto !important; max-width:500px;max-height:361px; border-radius:6px;" class="center-block img-responsive" src="{{URL}}images/pmm/home{{app_name}}.png" />
    </p>
</div>

{% endblock %}
