
{% set disable_breadcrumb = true %}
{% extends "_templates/pmm/index.twig" %}
{% block content %}

<div class="jumbotron" style="background-color:transparent !important">
    <p class="text-center">
        <img style="margin:0 auto !important; width:500px;height:361px; border-radius:6px;" class="center-block img-responsive" src="{{URL}}images/pmm/{{app_name | lower}}-logo.png" />
    </p>
</div>

{% endblock %}
