<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form" style="border:none">
        <div class="image" style="padding-left:7px; padding-bottom:10px; border:none">
          <img src="images/sistema.svg" height="75" />
        </div>
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Pesquisar...">
            <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
      </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MENU</li>
      <li class="active treeview">
        <a href="#">
          <i class="fa fa-plus-square-o"></i> <span>CADASTROS BÁSICOS</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li><a href="index.html"><i class="fa fa-circle-o"></i> CADASTRO 1</a></li>
          <li class="active"><a href="index2.html"><i class="fa fa-circle-o"></i> CADASTRO 2</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-files-o"></i>
          <span>RELATÓRIOS</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
          <!-- <span class="pull-right-container">
            <span class="label label-primary pull-right">4</span>
          </span> -->
        </a>
        <ul class="treeview-menu">
          <li><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o"></i> Top Navigation</a></li>
          <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> Boxed</a></li>
          <li><a href="pages/layout/fixed.html"><i class="fa fa-circle-o"></i> Fixed</a></li>
          <li><a href="pages/layout/collapsed-sidebar.html"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>
        </ul>
      </li>
    </ul>

    <div style="position:absolute; bottom:5px;left:1px">
          <img src="images/prefeituramanaus.svg" height="80" />
    </div>

  </section>
  <!-- /.sidebar -->
</aside>
